@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: Lato, serif;
    background: linear-gradient(90deg, #0678 19%, #000 85%);
}
p{
    color: aquamarine;
}
.navbar-nav .nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(76, 124, 108);
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler{
    background-color: rgb(102, 102, 102);
    color: rgb(43, 43, 43);
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #0678 19%, #303030 85%);

}

.card, .btn-outline-primary{
    background: linear-gradient(270deg, #0678 19%, #000 85%);
    color: aquamarine;
}
.card a{
    text-decoration: none;
    color: aquamarine;
}

.slidetext, .footertext{
    color: aquamarine;
    margin: auto auto;
}
footer{
    border-top: solid;
    border-width: 0.5px;
    border-color: aquamarine;
}

.medialist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.callanim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators{
        display: none;
    }
}